.image-container {
  position: relative;
  width: 100%;
}

.banner-img {
  width: 100%;
  height: auto;
}

.banner-text {
  position: absolute;
  top: 50%;             
  left: 100px;               
  transform: translateY(-50%);
}
.box{
  height:80px;
  width: 80px;
  border: 1px solid white;
  border-radius: 50%;
 margin:0px auto;
   display: flex;
  justify-content: center;
  align-items: center;
}

.icon{
  height: 65px;
  width: 65px;
  border-radius: 50%;
padding: 0;
  background-color: white;
   display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.static-slider-bg {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-attachment:unset;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: rgba(0, 0, 0, 0.4);

}

.slider-text{
  
  text-align: center;
  color: white;
  padding: 25px 30px;
}

.slider-text p {
  font-size: 17px;
  font-style: italic;
}

.slider-text h4 {
  margin-top: 10px;
  font-size: 22px;
  font-weight: 700;
}

.slider-text span {
  font-size: 14px;

}












