.image-container {
  position: relative;
  width: 100%;
}

.banner-img {
  width: 100%;
  height: auto;
}

.banner-text {
  position: absolute;
  top: 50%;             
  left: 100px;               
  transform: translateY(-50%);
}
.box{
  height:80px;
  width: 80px;
  border: 1px solid white;
  border-radius: 50%;
 margin:0px auto;
   display: flex;
  justify-content: center;
  align-items: center;
}

.icon{
  height: 65px;
  width: 65px;
  border-radius: 50%;
padding: 0;
  background-color: white;
   display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.static-slider-bg {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-attachment:unset;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: rgba(0, 0, 0, 0.4);

}

.slider-text{
  
  text-align: center;
  color: white;
  padding: 25px 30px;
}

.slider-text p {
  font-size: 17px;
  font-style: italic;
}

.slider-text h4 {
  margin-top: 10px;
  font-size: 22px;
  font-weight: 700;
}

.slider-text span {
  font-size: 14px;

}

.category-box {
  position: relative;
  overflow: hidden;
}

/* Image zoom on hover */
.cat-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .5s ease;
}
.category-box:hover .cat-img {
  transform: scale(1.06);
}

/* Center box */
.glass-box-outer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid white;
  z-index: 1;
}

/* Transparent white box */
.glass-inner {
  background:#EAE6E4;

  border: 1px solid white;
  padding: 25px 20px;
  text-align: center;
  position: relative;
}

/* Inner border */
.glass-inner::before {
  content: "";
  position: absolute;
  inset: 5px;
}

/* TITLE before hover */
.cat-title {
  display: inline-block;
  
  padding: 6px 18px;
  font-size: 13px;
  font-weight: 700;
}

/* Hide menu initially */
.cat-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin-top: 12px;
}

.category-box:hover .cat-title {
  display: none;
}

.category-box:hover .cat-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cat-menu li {
  color:grey;
  font-size: 13px;
  cursor: pointer;
  transition: 0.3s ease;
}














