.topnavupper{
    color: #F3F3F3;
    color:white;
}
.topnavupper a{
    
    font-weight: bold;
}
.topnavupper a:hover{
    text-decoration: underline;
}
.topnavlower{
    font-size:13px;
    
}

.topnavlower a:hover{
        text-decoration: underline;

}
a{
     text-decoration: none;
    color: inherit;
}